body{

  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Trebuchet MS','Lucida Grande', sans-serif;
}

header{

  background-color: #5A7CFA;
}

#menu_principal{

}

#menu_secundario{

  display: flex;
  justify-content: space-evenly;  
}

#titulo{

  margin: 0;
  text-align: center;
}

#secao_1{

  align-items: center;
  background-color: #5A7CFA;
  background-image: linear-gradient(to bottom, #5A7CFA, #000000);
  color:#000000;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

#titulo_2{

  font-size: 3.5vw;
}

#img1{

  border-radius: 10px;
  box-shadow: 2px 2px 22px 5px red;
  width: 100%;
  height: auto;
}

#secao_2{

  align-items: center;
  background-color: #000000;
  background-image: linear-gradient(to bottom, #000000, #802E42);
  color: #FAD05A;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

#img2{

  border-radius: 10px;
  box-shadow: 2px 2px 22px 5px red;
  width: 100%;
  height: auto;
}

#titulo_3{
  
  text-align: center;
  font-size: 3.5vw;
}

#secao_3{

  background-color: #802E42;
  background-image: linear-gradient(to bottom, #802E42, #FFFFFF);
  color: #FFFFFF;
  text-align: center;
}

#secao_3_1{

  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

#titulo_4{

  font-size: 3vw;
  margin: 0;
}

#titulo_4_1, #titulo_4_2, #titulo_4_3{

  font-size: 2.2vw;
  margin: 0;
}

#img3{

  border-radius: 10px;
  box-shadow: 2px 2px 22px 5px red;
  width: 100%;
  height: auto;
}

#secao_4{

  display: flex;
  justify-content: center;
}

#img4{

  border-radius: 10px;
  box-shadow: 2px 2px 22px 5px red;
  width: 100%;
  height: auto;
}

#titulo_5{

  font-size: 2vw;
}

#secao_5{

  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#titulo_6{

  font-size: 2vw;
}

#secao_6{

  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#p1{

  font-size: 1.3vw;
  text-align: center;
}

#p2, #p3, #p4, #p5, #p6, #p7{

  font-size: 1vw;
}