body{

  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Trebuchet MS','Lucida Grande', sans-serif;
}

header{


}

main{


}

footer{

  display: flex;
  justify-content: space-evenly;  
}

#titulo{

  margin: 0;
  text-align: center;
}

#secao_1{

  align-items: center;
  background-color: #5A7CFA;
  background-image: linear-gradient(to bottom, #5A7CFA, #000000);
  color:#000000;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

#titulo_2{

  align-items: center;
  display: flex;
  font-size: 3.5em;
}

#secao_2{

  align-items: center;
  background-color: #000000;
  background-image: linear-gradient(to bottom, #000000, #802E42);
  color: #FAD05A;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

#titulo_3{

  align-items: center;
  display: flex;
  font-size: 3.5em;
}

#secao_3{

  background-color: #802E42;
  background-image: linear-gradient(to bottom, #802E42, #FFFFFF);
  color: #FFFFFF;
  text-align: center;
}

#secao_3_1{

  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

#titulo_4{

  font-size: 3em;
  margin: 0;
}

#secao_4{

  margin: auto;
  width: 50%;
}

#titulo_5{

  font-size: 2em;
}

#secao_5{

  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#titulo_6{

  font-size: 2em;
}

#secao_6{

  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 0;
}