body{

  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Trebuchet MS','Lucida Grande', sans-serif;
}

header{

  background-color: #5A7CFA;
}

#secao_1{

  background-color: #5A7CFA;
  color:#000000;
  margin: 0;
  display: flex;
}

#titulo_2{

  display: flex;
  align-items: center;
  font-size: 3.5em;
}

#secao_2{

  background-color: #000000;
  margin: 0;
  display: flex;
  color: #FAD05A;
}

#titulo_3{

  display: flex;
  align-items: center;
  font-size: 3.5em;
}

#secao_3{

  background-color: #802E42;
  margin: 0;
  color: #FFFFFF;
  text-align: center;
}

#titulo_4{
  margin: 0;
  font-size: 3em;
}

#secao_3_1{

  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
}

#secao_4{

  margin: auto;
  width: 50%;
}

#secao_5{
  background-color: #000000;
  margin: 0;
  display: flex;
  color: #FAD05A;
  flex-direction: column;

}

#secao_6{
  background-color: #5A7CFA;
  margin: 0;
  display: flex;
  color: #FAD05A;
  flex-direction: column;
}


#menu_primario{
  display: inline;
  text-align: center;
}

#titulo{

  margin: 0;
}